{%  extends "learning_logs/base.html" %}

{% block header %}
    <div class='jumbotron'>
        <h1>Сохраняйте важные записи.</h1>
    </div>
{% endblock %}

{% block content %}
    <h2>
        <a href="{% url 'users:register' %}">Зарегистрируйте аккаунт</a>, чтобы
    использовать возможности Журнала заметок уже сегодня.
    </h2>
    <h2>
        Каждый раз, когда вы узнаёте что-то новое или хотите запомнить важную информацию
    просто создайте новую тему и добавьте заметку.
    </h2>
{% endblock %}