{% extends "learning_logs/base.html" %}

{% block header %}
    <h2 class="leftstr" style="float: left; width: 50%;">
        Темы
    </h2>
    <h3 class="rightstr" style="float: left; width: 50%; text-align: right; margin-top: 25px">
        <a href="{% url 'learning_logs:new_topic' %}">Добавить тему</a>
    </h3>
    <div style="clear: left"></div>
{% endblock %}
{% block content %}
    <ul>
    {% for topic in topics %}
        <li>
            <h3>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3>
        </li>
        {% empty %}
        <li>Здесь нет еще тем.</li>
    {% endfor %}
    </ul>
{% endblock %}